## Imports

In [3]:
import pandas as pd

## Data pre-pocessing

In [4]:
df = pd.read_csv('train.txt', delimiter='\t', header=None, names=["Label", "Review"])

In [5]:
df

                  Label                                             Review
0      TRUTHFULPOSITIVE  The sheraton was a wonderful hotel! When me an...
1      TRUTHFULPOSITIVE  We stayed at the Omni between Christmas and Ne...
2     DECEPTIVENEGATIVE  I was REALLY looking forward to a nice relaxin...
3      TRUTHFULNEGATIVE  First let me say, I try not to be too critical...
4     DECEPTIVENEGATIVE  The Ambassador East Hotel is a terrible place ...
...                 ...                                                ...
1395   TRUTHFULNEGATIVE  I stayed here for 5 nights last summer. I book...
1396   TRUTHFULPOSITIVE  Stayed here for 3 nights for a Bridgestone/Fir...
1397   TRUTHFULNEGATIVE  I am staying here now and actually am compelle...
1398   TRUTHFULNEGATIVE  We stayed at this hotel with our two teenage d...
1399  DECEPTIVEPOSITIVE  The rooms were beautiful! The staff was friend...

[1400 rows x 2 columns]